.App {
  background: #FFFFFF;
  /* width: 34.375rem; */
  margin: 0 auto;
}

@media (min-width:900px){
  .all-cards{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 3rem;
  }
}
